#myCards {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    overflow-y: auto;
    height: 83%;
}

#addCard {
    position: absolute;
    right: 6%;
    bottom: 12%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    align-content: center;
}