/* The css below is used to simulate what the content would look like on an actual phone */
/* This is universal, and should be applied to every html page.*/
/* To do so, add a div with class "smartphone", and within that div add another div with class "content".*/
/* Put all html code within both of those divs to create the effect */
:root{
  margin: 0;
  padding: 0;
}

.smartphone {
  position: relative;
  width: 360px;
  height: 640px;
  margin: auto;
  border: 16px black solid;
  border-top-width: 60px;
  border-bottom-width: 65px;
  border-radius: 36px;
}

/* The horizontal line on the top of the device */
.smartphone:before {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
}

/* The screen (or content) of the device */
.smartphone .content {
  width: 360px;
  height: 640px;
  background: #f0f0f0;
  padding-top: 4px;
  display: flex;
  flex-flow: column;
  align-content: center;
  align-items: center;
}

.logoText{
  background-color: #E4F5FF;
  color: #6f7180;
  text-align: center;
}

.logoText h3{
  margin-top: 0;
}

.loginFields {
  align-content: center;
  text-align: center;
  margin-top: 40%;
  width: 100%;
}

.loginFields label {
  display: flex;
  margin: 10px 25px;
}

.loginFields input {
  width: 80%;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 15px;
  border-bottom: 1px solid black;
  background-color: #E4F5FF;
}

.signIn button {
  width: 252px;
  color: white;
  border: none;
  background: red;
  align-content: center;
  margin-top: 15%;
}

.signUp button {
  width: 252px;
  color: white;
  border: none;
  background: red;
}

.signUp{
  margin-top: auto;
  margin-bottom: 10%;
}

.card {
  padding: 15px;
  width: 85%;
  margin-bottom: 10px;
  background-color: blue;
  border-radius: 10px;
  box-shadow: inset 0 0 5px #000000;
}

.card .name {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 3px;
  margin-top: 5px;
}

.card .description{
  font-size: small;
  font-weight: normal;
}

.starWrapper {
  position: relative;
  right: -85%;
  top: -100%;
  width: 0;
  height: 0;
}

.logos {
  display: flex;
  align-items: center;
  align-content: center;
}

.logos img{
  margin-left: 3px;
}

.pastelBlue {
  background-color: #B5E9FF !important;
}

.pastelGreen{
  background-color: #CDFFD5 !important;
}

.pastelRed {
  background-color: #FFB5B5 !important;
}

.pastelPurple {
  background-color: #E6C7FF !important;
}

.pastelYellow {
  background-color: #FEFFCD !important;
}

.hidden {
  display: none;
}