.content nav{
    margin-top: auto;
    height: 10%;
    background-color: aqua;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
}

nav div{
    flex-grow: 1;
    align-items: center;
    align-content: center;
    text-align: center;
    border-left: 1px;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-color: black;
    border-style: solid;
}